

*{
    background-color: lightgray;
}

.avatar {
    width: 80px;
    height: 80px;
    margin: 30px right;
    object-fit: cover;
    border-radius: 12px;
    left: 20px;
}
.menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 530px;
    border: 3px solid #73AD21;
    justify-content: center;
    padding-right: 30px; 
}

header{
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    border: 3px solid #73AD21;
}

h1{
    position: absolute;
    top: 45px;
    left: 120px;
    font-size: 26px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: inline-end;
    display: block;
    justify-content: left;
    padding: 20px;
}
li:hover{
    background-color: darkgray;
}

section{
    display: inline-block;
}