

*{
    background-color: lightgray;
}

.avatar {
    width: 80px;
    height: 80px;
    margin: 30px right;
    object-fit: cover;
    border-radius: 12px;
    left: 20px;
}

.menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 520px;
    /* border: 3px solid #73AD21; */
    /* justify-content: center; */
    /* padding-right: 30px; */
}

header{
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    /* border: 3px solid #73AD21; */
}

h1{
    position: absolute;
    top: 45px;
    left: 120px;
    font-size: 26px;
}

li{
    float: inline-end;
    display: block;
    padding: 20px;
}

li:hover {
    background-color: darkgray;
}

li:hover a{
    background-color: darkgrey;
}

li a:link{
    color: blue;
}

li a:visited{
    color: blue;
}

/* li a:hover{
    background-color: darkgrey;
} */

h2{
    width: 350px;
    font-size: 24px;
}

p{
   
    font-size: 18px;
}

/* colimn Formatting */

.column{
    float: left;
    padding: 10px;
    height: auto;
}

.left{
    width: 20%;
}

.right{
    width: 80%;
    border-left: 3px solid blue;
}


.row:after{
    content: "";
    display: table;
    clear: both;
}

/* skills section start */
.git {
    width: 75%; background-color: orange;
}

.html {
    width: 80%; background-color: #04AA6D;
}

.css {
    width: 65%; background-color: #2196F3;
}

.js {
    width: 15%; background-color: red;
}

.container{
    width: 95%;
    background-color: #ddd;
    justify-content:end;
}
  
.skills{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

/* skills section end */

/* apps section */

.test{
    display: flex;
    flex-direction: row;
    flex: 4;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.first{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.second{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.sample{
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: auto;
    height: auto;
    object-fit: cover;
}

.break {
    flex-basis: 100%;
    height: 0;
  }

footer{
    text-align: center;
}


@media screen and (max-width: 600px) {
    h1{
        margin-top: 100px;
    }
    .avatar{
        margin-top: 100px;
    }
    .column {
      width: 100%;
    }
}